@model FocusOffical.Models.Feedback

@{
    ViewData["Title"] = "Contact Us";
}

<!-- Map Begin -->
    <div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3834.0022846450274!2d108.21286627405804!3d16.065371239543293!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3142183547a4feb1%3A0xae2efa4cfc0fe342!2zMjMgTeG6oWMgxJDEqW5oIENoaSwgSOG6o2kgQ2jDonUgMiwgSOG6o2kgQ2jDonUsIMSQw6AgTuG6tW5nIDU1MDAwMCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1692161787903!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>    <!-- Map End -->

    <!-- Contact Section Begin -->
    <section class="contact spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="contact__text">
                        <div class="section-title">
                            <span>Information</span>
                            <h2>Contact Us</h2>
                            <p>As you might expect of a company that began as a high-end interiors contractor, we pay
                                strict attention.</p>
                        </div>
                        <ul>
                            <li>
                                <h4>Focus Offical</h4>
                                <p>23 Mạc Đĩnh Chi, Phường Hải Châu 2, Da Nang, Vietnam <br />+84 917-080-029</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="contact__form">
                        <form asp-controller="Home" asp-action="Contact">
                            <div class="row">
                            <div class="col-lg-6">
                                <span asp-validation-for="Name" class="text-danger"></span>
                                    <input asp-for="Name" placeholder="Name">
                                </div>
                            <div class="col-lg-6">
                                <span asp-validation-for="Email" class="text-danger"></span>
                                    <input asp-for="Email" placeholder="Email">
                                </div>
                            <div class="col-lg-12">
                                <span asp-validation-for="Message" class="text-danger"></span>
                                    <textarea asp-for="Message" placeholder="Message"></textarea>
                                    <input type="submit" class="site-btn" value="Send Message"></input>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section End -->
